---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '80'
IndentWidth: 4
PointerBindsToType: 'true'
ReflowComments: 'true'
SpaceBeforeParens: Always
SpaceInEmptyParentheses: 'true'
SpacesInSquareBrackets: 'false'
